<mat-dialog-content>
  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card scroll">
      <mat-card-header>
        <mat-card-title>Viagem</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Partida" formControlName="partida">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Chegada" formControlName="chegada">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Frete" formControlName="frete">
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Adiantamento" formControlName="adiantamento">
            </mat-form-field>
          </div>
        </div>

        <div class="row">

          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Motorista</mat-label>
              <mat-select formControlName="motorista" [ngModel]="dados.motorista">
                <mat-option *ngFor="let motorista of motoristas" [value]="motorista.id">
                  {{motorista.nome}}
                </mat-option>
                <mat-option (click)="addMorotista()">
                  <b>Adicionar</b>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Caminhao</mat-label>
              <mat-select formControlName="placa_carreta" [ngModel]="dados.placa_carreta">
                <mat-option *ngFor="let caminhao of caminhoes" [value]="caminhao.id">
                  {{caminhao.placa}}
                </mat-option>
                <mat-option (click)="addCaminhao()">
                  <b>Adicionar</b>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Escolha uma Data</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="data_partida">
              <mat-datepicker-toggle matSuffix [for]="picker">
                <span class="material-icons" matDatepickerToggleIcon>calendar_today</span>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Escolha uma Data</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="data_chegada">
              <mat-datepicker-toggle matSuffix [for]="picker1">
                <span class="material-icons" matDatepickerToggleIcon>calendar_today</span>
              </mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Km de Partida" formControlName="km_partida">
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Km de Chegada" formControlName="km_chegada">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col full-width">
            <button mat-raised-button color="primary" type="button" (click)="addDespesa()">Adicionar Despesa</button>
            <mat-list class="despesas-container">
              <mat-divider></mat-divider>
              <div *ngFor='let despesa of despesasSource'>
                <mat-list-item>
                  <div class="despesa-content">
                    <div class="despesas-field">{{despesa.tipo}}</div>
                    <div class="despesas-field">{{despesa.data}}</div>
                    <div class="despesas-field">R${{despesa.valor}}</div>
                    <div>
                      <button type='button' mat-icon-button matTooltip="Editar" color="accent">
                        <a (click)="editDespesa(despesa)" class="material-icons">edit</a>
                      </button>
                      <button type='button' mat-icon-button color="warn">
                        <a (click)="deletDespesa(despesa)" class="material-icons">delete</a>
                      </button>
                    </div>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>
            </mat-list>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Observações" formControlName="obs">
            </mat-form-field>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Salvar Viagem</button>
        <button mat-raised-button color="warn" (click)="cancel()" type="button">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</mat-dialog-content>