<div class="container">

  <mat-card class="home mat-elevation-z3 m20">
    <mat-card-title class="title">
      Analise mensal
    </mat-card-title>
    <!-- <p *ngFor="let mes of meses"> <b>mes {{meses.indexOf(mes)+1}} : </b>R$ {{mes}}</p> -->

    <div class="form">
      <div class="full-width">
        <mat-form-field class="full-width">
          <mat-label>Caminhao</mat-label>
          <mat-select (selectionChange)="getCaminhao($event)">
            <mat-option value="geral">
              <b>Geral</b>
            </mat-option>
            <mat-option *ngFor="let caminhao of caminhoes" [value]="caminhao.caminhao.id">
              {{caminhao.caminhao.placa}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="flex">
      <div class="flex-item">
        <div style="display: block;">
          <canvas *ngIf="pieChartData[0] && hasData()" baseChart [datasets]="pieChartData" [labels]="pieChartLabels"
            [chartType]="pieChartType" [options]="lineChartOptions" [colors]="lineChartColors"
            [legend]="lineChartLegend" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
      Tabela de Meses
    </mat-card-title>
    <app-index *ngIf="relatorioCaminhao" [showAction]='false' [dataSourceIndex]="relatorioCaminhao" [columns]="columns">
    </app-index>
  </mat-card>
  <mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
      Relatorio Total
      <br />

    </mat-card-title>
    <mat-card-subtitle class="subtitle">

    </mat-card-subtitle>
    <b>Total de Despesas : </b>
    <p>R${{numbersHandle(despesaTotal)}}</p>
    <b>Lucro bruto : </b>
    <p>R${{freteTotal}}</p>
    <b>Lucro liquido : </b>
    <p>R${{numbersHandle(freteTotal - despesaTotal)}}</p>
    <b>Restando do adiantamento : </b>
    <p>R${{numbersHandle(adiantamentoTotal - despesaTotal)}}</p>
  </mat-card>

</div>