<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Motorista</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome" formControlName="nome">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="number" matInput placeholder="Comissao" formControlName="comissao">
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Salvar Motorista</button>
    </mat-card-actions>
  </mat-card>
</form>